body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #212121;

  margin: 0;
}


.link {
  text-decoration-line: none;
}
.container {
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid tomato;
}
.padding-0 {
  padding: 0;
}
h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0 auto;
}

.section {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
  outline: 2px solid tomato;
}

:root {
  --main-text-color: #212121;
  --p-text-color: #757575;
  --main-blue-color: #2196f3;
  --main-white-color: #ffffff;
  --main-background-color: #f5f5f5;
}
.title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-text-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* header */
.header {

  background: var(--main-white-color);

}
.main-nav {
  display: flex;
  align-items: center;
}
.logo {
  margin-right: 93px;
  margin-top: 25px;
  margin-bottom: 25px;

  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-blue-color);
}
.logo-header {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}
.nav-list {
  list-style-type: none;
  display: flex;
  padding: 0;
}
.nav-item + .nav-item {
  margin-left: 50px;
}
.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--main-blue-color);
}
.header-mail {
margin-left: auto;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--p-text-color);
}
.header-mail:hover,
.header-mail:focus {
  color: var(--main-blue-color);
}
.header-tel {
  margin-left: 50px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--p-text-color);
}

.header-tel:hover,
.header-tel:focus {
  color: var(--main-blue-color);
}

/* HERO */
.hero {
  background-color: #2f303a;
  text-align: center;
  min-height: 600px;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--main-white-color);
  background: #2f303a;

  
  margin-top: 106px;
}
.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  display: inline-block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  margin-top: 30px;
  min-width: 216px;

  color: var(--main-white-color);
  background: var(--main-blue-color);
  cursor: pointer;



}
.hero-btn:hover,
.hero-btn:focus {
  color: var(--main-white-color);
  background: #188ce8;
  cursor: pointer;
}

/* Features */
.features {
  background: var(--main-background-color);
  padding-bottom: 0;
}

.features-list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding-left: 0;
}
.features-item {
  width: 270px; 
}

.features-sub-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--main-text-color);
}
.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--p-text-color);
}

/* Activity */
.activity {
  background: var(--main-background-color);
}
.activity-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* Team */
.section-team {
  background: #f5f4fa;
}
.team-list {
  list-style-type: none;
  display: flex;
}
.team-item {
  background: var(--main-white-color);
}
.team-sub-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}
.team-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--p-text-color);
}

/* fooler */
.footer {
  background: #2f303a;
}
.logo-footer {
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.19px;
  letter-spacing: 0.03em;

  color: var(--main-white-color);
}
.address-list {
  list-style-type: none;
}
.address-link {
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--main-white-color);
}
.address-link:hover,
.address-link:focus {
  color: var(--main-blue-color);
}
.contact-link {
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--main-blue-color);
}

/* PORTFOLIO */

.portfolio {
  background: var(--main-background-color);
}
.portfolio-list {
  list-style-type: none;
}
.portfolio-btn {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-text-color);
  background-color: #f5f4fa;
  border-radius: 4px;
  border-color: #f5f4fa;
  cursor: pointer;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--main-white-color);
  background-color: var(--main-blue-color);
}
.portfolio-sub-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--main-text-color);
}

.projects-text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--p-text-color);
}
